.scrollspy-example {
  position: relative;
  height: 70vh;
  overflow: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #a6e4fa, #ffffff);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -webkit-overflow-scrolling: touch;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 10px;
  position: relative;
}

li {
 
  position: relative;
}




.stepper {
  counter-reset: step;
}

.stepper li {
  list-style-type: none;

  margin-bottom: 20px;
  margin-left: 2px;
  position: relative;
}

.stepper li::before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 2px solid #3498db;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #3498db;
  font-weight: bold;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
} 



