* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 520px) {
  .DashImageView {
    height: 200px !important;
  }
-
  .navbar {
    background-color: white !important;
  }

  .sidebar {
    position: fixed;
    top: 1px;
    right: -250px;
    width: 220px;
    height: 100%;
    color: 'black';
    background-color: #deecf2;
    transition: right 0.3s ease;
    box-shadow:5px 5px 20px  #031A33;
  }

  .sidebar.show {
    right: 0;
  }
  .sidebar2 {
    position: fixed;
    top: 95px;
    left: -260px;
    width: 260px;
    height: 100%;
    color: #FFE164;
    background-color: #031A33;
    transition: right 0.3s ease;
    padding: 20px;
  }

  .sidebar2.show {
    left: 0;
  }

  .design {
    margin-top: 7vh;
  }

}

/* Form Styling */
.selected {
  border: 1px solid #79b4e2;
}

.form-control {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #79b4e2 !important;
}

.form-control::placeholder {
  color: white !important;
  opacity: 80%;
}

/* Scrollbar Styles */
#design::-webkit-scrollbar {
  display: none !important;
}

#design {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 520px) {
  .heading {
    font-size: 1.2rem;
  }

  .heading2 {
    font-size: 0.9rem;
  }

  .heading3 {
    font-size: 0.6rem !important;
  }
}

.active {
  color: #79b4e2 !important;
}

/* footer */
.SocialLinks :hover {
  color: #f3f3f3 !important;
  background-color: #79b4e2 !important;
}
.textColor{
  color: #358CCA;
}

.tilt-effect {
  transition: transform 0.2s;
}

.tilt-effect:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
}

.tilt-effect2 {
  transition: transform 0.3s ease-in-out;
}

.tilt-effect2:hover {
  transform:  scale(1.1);
}
.highlight{
 color: #3393df !important;
font-weight: bold !important;
}