 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  width: 100%;
  background-color: #eae7e7 !important;
  color: #000000 !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: Exo;

  .nav-link {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-link:hover {
    color: #040a33;
    border-bottom: 2px solid #071a30;
  }

  .card {
    background-color: #4f5458; 
    color: white;
  }

  .navbar{
    background-color: #ffffff !important;
  }

  .btn{
    color: black;
    background-color: #8e9194;
    box-shadow: 5px 5px solid black;
    border: 2px solid black;
    }

  .btn:hover{
      color: black;
      background-color: #a0a2a3;
      box-shadow: 5px 5px solid black;
      border: 2px solid black;
      }

      .active {
        box-shadow: 1px 3px 2px black !important;
        background-color: #a0a2a3;
        border-radius: 5px !important;
        color: black;
      }
}

/* Dark mode styles */
body.dark-theme {
  width: 100%;
  background-color: #1e1e1e !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  .navbar{
    background-color: #1e1e1e !important;
  }

  a {
    color: white !important;
  }

  a:hover {
    color: #ffe164 !important;
    border-bottom: 1px solid#ffe164;
  }

  .btn {
    background-color: #23272b !important;
    color: #ffffff !important;
    border-color: #343a40 !important;
  }

  .btn:hover {
    background-color: #071a30 !important;
    color: #ffe164 !important;
    border-color: #ffe164 !important;
  }

  .card {
    background-color: #23272b;
    color: white;
  }
  .active {
    box-shadow: 1px 3px 2px whitesmoke !important;
    border-radius: 5px !important;
    background-color: black;
    color: #FFE164 !important;
  }

}


body::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {

  .imageHeight{
    width: 320px!important;
  }
  .firstPage{
    margin-top: 14vh!important;
  }

  .borderLeft{
    border-left: 0px solid white !important;
  }

  .sidebar {
    position: fixed;
    top: 1px;
    right: -250px;
    width: 220px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease;
    box-shadow:5px 5px 20px  #031A33;
  }

  .sidebar.show {
    right: 0;
  }

  .sidebar3 {
    position: fixed;
    top: 45px;
    left: 0px;
    width: 240px;
    height: 100%;
    color: #FFE164;
    background-color: #031A33;
    transition: right 0.3s ease;
    padding: 20px;
    overflow-y: auto !important;
    
  }

  .sidebar3.show {
    right: 0;
  }

  .design {
    margin-top: 50px;
  }

  .heading {
    font-size: 1.2rem;
  }

  .heading2 {
    font-size: 0.9rem;
  }

  .heading3 {
    font-size: 0.6rem !important;
  }

}

/* Form Styling */
.selected {
  border: 1px solid #79b4e2;
}


.tilt-effect {
  transition: transform 0.2s;
}

.tilt-effect:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
}

.tilt-effect2 {
  transition: transform 0.3s ease-in-out;
}

.tilt-effect2:hover {
  transform:  scale(1.1);
}

.highlight , strong{
 color: #3393df !important;
font-weight: bold !important;
}

.imageHeight{
  width: 620px;
}

.bg-image{
  height: 12vh !important;
}

.topic-item {
  transition: color 0.3s ease;
}

.topic-item:hover {
  color: #6D39F7 !important;
}

.cardImageHeight{
  height: 480px !important;
  width: 100% !important;
}

/* .sharebutton  */
.share-options {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.share-options > * {
  margin-right: 10px;
}

.courseImage{
  height: 100px !important;
  width: 100px !important;
}


/* src/ImageWithSkeleton.css */
.image-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
}

.image-container img {
  width: 100%;
  height: 100%;
}  
